body {
    margin: 0;
    background-color: #F7F7F7;
    min-height: 400px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.top {
    background-color: #376492;
    height: 1vh;
}

.header {
    background-color: #cbe2ef;
    height: 280px;
    border-bottom: 1px solid #376492;
    color: #376492;
}

    .header > div:first-child {
        padding-top: 50px;
    }

    .header button {
        margin-top: 25px;
    }

#mainContainer {
    padding-top: 75px;
    min-height: 200px;
}

    #mainContainer table {
        background-color: #fff;
    }

#error {
    visibility: hidden;
    color: #b94a48;
    height: 19px;
}

#loader {
    display: none;
}

    #loader p {
        text-align: center;
    }

    #loader img {
        height: 65px;
        width: 65px;
    }

#tableresults {
    display: none;
}

#chart {
    /*display: none;*/
}

.footer
{
    height: 50px;
}

.footer  div.form-group {
    padding-left: 0;
}

.footer > .navbar-fixed-bottom {
    background-color: #cbe2ef;
    border-top: 1px solid #376492;
    color: #376492;
}

#history {
    display: none;
}
